.BraferWood{
    opacity: 1;
    margin-bottom: 70px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    background-color:var(--Wood);
    color: var(--WoodWhite);
    font-family: 'Roboto', sans-serif;
}

.BraferWood:hover{
    background-color: var(--WoodWhite);
    color: #30475E;
    cursor: pointer;
}

.BraferBlue{
    opacity: 1;
    margin-bottom: 70px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    width: 90px;
    height: 40px;
    background-color:var(--SpaceBlue);
    color: var(--WoodWhite);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.BraferBlue:hover{
    background-color: var(--WoodWhite);
    color: #30475E;
    cursor: pointer;
}

.aBraferBlue{
    text-decoration: none;
    color:var(--WoodWhite);
}

.BraferBlueDiv{
    display: flex;
    justify-content:center;
    align-items: center;
}
