:root{
    --SizeCards : 200px;
}

.inventario{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.inventarioNav{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.inventarioContainer{
    width: 80%;

    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardInventario{
    margin: 10px;
    width: var(--SizeCards);
    height: var(--SizeCards);
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.cardTitle{
    text-align: center;
    width: 100%;
    background-color: var(--SpaceBlueSelection);
    opacity: 0.9;
    color: white;
    margin: 0;
    display: none;
}

.cardInventario:hover .cardTitle{
  
    display: block;
    height: 60px;
   

    
}

/*Card que aparece solo cuando no se tiene agregado nada*/

.cardInventarioAdd{
    margin: 10px;
    width: var(--SizeCards);
    height: var(--SizeCards);
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/*Card que aparece solo cuando no se tiene agregado nada*/

/*Barra de buscar*/

.barSearch{
    width: 0;
    height: 0;
    font-size: 20px;
    outline: none;
    border: 1px black solid;
    border-radius: 30px;
    transition: all 0.6s ease;
    width: 200px;
    height: 30px;
    margin-bottom: 15px;

   
}

/*
.btn{
    display: inline-block;
    position: relative;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: var(--SpaceBlue);
    color: var(--WoodWhite);
    text-align: center;
    cursor: pointer;
    
}

.formSearch:hover .barSearch {
    
    width: 200px;
    height: 30px;
}

.formSearch .barSearch:focus {
    width: 200px;
    height: 30px;
}
*/
.BraferBlue{
    margin: 0;
    margin-right: 10px;
}
.formSearch{
    margin-bottom: 10px;
}

/*Termina Barra de buscar*/
