



body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(https://pixabay.com/get/53e9d4454953b108feda8460da29317e123edfe5555574_1920.jpg);
}

/*Empieza todos los estilos del titulo*/

.header_logo{
    width: 100%;
    background-color: var(--SpaceBlue);
}


.img_logo{
    width: 90px;
}

/*Acaban los estilos del titulo*/



/*Empieza todos los estilos del formulario*/

.card-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
    box-shadow:  10px 5px 15px #222  ;
    background-color: var(--BraferGray);
    opacity: 0.9;

}



.label_login , .title_login {
    color: var(--WoodWhite);
    font-family: 'Roboto', sans-serif;
}


.label_login{                       /*Para que los label y campos de texto se pongan uno por debajo de otro*/
    display: flex;
    flex-direction: column;
    
}

.label_login , .input_login{                        
    margin-bottom: var(--margin_label);   /*Aplicamos los margenes por debajo en los label y campos de texto*/
}


.input_login{
    font-family: 'Roboto', sans-serif;
    margin-top: var(--margin_label);  
    width: 100%;
    height: 30px;
    border:0;
    color: #30475E;
    outline: 0;
    border-radius: 40px;                /*Aplicamos un margen por debajo en los campos de texto para separar*/
}

.input_login:focus{
    border: 1px solid var(--Wood);
    
}



/*empiezan estilos responsive*/

@media only screen and (max-width: 800px){
    .card-formulario{
        width: 80%;
    }   
}

/*
@media only screen and (max-width: 1080px){
    .card-formulario{
        height: 90%;
        width: 80%;
        font-size: 50px;
    }   

    .img_logo{
        width: 25%;
    }
}*/

 /*Acaban*/


/*acaba todos los estilos del formulario*/
